#s{
  font-size:small;
}
.sp{
  text-align: center;
}
body{
  padding:20px;
  background-color: lightblue;
}
.lin{
  text-decoration:none;
  color:white;
   background-color: #8845f4;
   padding: 13px 42px 13px 42px;
   border-radius: 20px;
}
<!-- t-shirt-->